*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.container{
    display: flex;
    background-color: pink;
    height: 91vh;
    width: 100%;
}

#navbar{
    background-color: rgb(43, 42, 42);
    padding: 20px;
    height: 44px;
}
#logo{
    display: flex;
    margin-top: -70px;
}
#logo img{
    height: 115px;
    /*border: 2px solid white;*/
    margin-right: 23px;
}

h1{
    text-align: center;
    padding: 6px 20px;
    border: 2px solid pink;
    color: rgb(250, 224, 228);
    background: transparent;
    width: 7%;
    margin: 6px auto;
    font-size: 1.3rem;
    border-radius: 20px;
}

.main_left{
    display: flex;
    flex: 0.8;
    flex-direction: column;
}

.main_video{
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(rgb(157, 53, 243), rgba(236, 126, 172, 0.932));
    justify-content: center;
    align-items: center;
}

#video-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.main_controls{
    display: flex;
    background-color: black;
    color: rgb(255, 250, 250);
    padding: 11px;
    justify-content: center;
    height: 80px;
}
.main_options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.main_controls_button{
    display: flex;
    flex-direction: column;
    padding: 6px 56px;
    margin: 17px;
    width: -18px;
    min-width: 70px;
    cursor: pointer;
    border: 2px solid cyan;
    border-radius: 17px;
}
.main_controls_button i{
    font-size: 27px;
    font-weight: bold;
}
.main_controls_button:hover{
    background-color: rgb(230, 227, 227);
    color: black;
    border-radius: 10px;
    width: auto;
    font-weight: bold;
}

#end{
    color: red;
}
.leave{
    color: red;
    font-weight: bold;
    margin-top: 2px;
}

.main_right{
    display: flex;
    flex: 0.2;
    min-width: 300px;
    flex-direction: column;
    /*background-color: rgb(37, 34, 34);*/
    background: url('/public/logo.jpg') center/cover no-repeat;
    opacity: 0.7;
}

.main_chat{
    text-align: center;
    color: white;
    font-size: 27px;
}
.msg{
    flex-grow: 1;
}
.main_chat_window{
    flex-grow: 1;
    max-height: 490px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main_msg_container{
    display: flex;
    padding: 22px 12px;
    margin-bottom: -8px;
    overflow-y: hidden;
}
.main_msg_container input{
    /*flex-grow: 1;*/
    border: none;
    color: black;
    padding: 8px;
}
#chatMsg{
    background-color: white;
    border: 2px solid cyan;
    outline: none;
    width: 90%;
    margin-bottom: 12px;
    height: 13px;
    min-height: 12px;
}
.msg{
	list-style: none;
    color: white;
}

.message{
	font-size: 15px;
	display: block;
    color: black;
    background-color: cyan;
    width: fit-content;                                   
    min-width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid white;
    border-radius: 10px;
}

.messageSendingTo{
	font-size: 10px;
    margin-bottom: -8px;
}
#angledown{
    color: white;
    margin-left: 5px;
}

.angle{
	font-size: 12px;
	margin-left: 8px;
	background-color: #f2f2f7;
	padding: 3px 8px;
	border-radius: 8px;
    cursor: pointer;
}

.angle:hover{
	background-color: #e7f1fd;
	color: #2f89f2;
}
.messageSendingTo svg{
	font-size: 10px;
	color: black;
}

.message_header{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 11px;
	/*color: #8086ac;*/
    color: rgb(230, 227, 227);
}

.message_sender{
    /*color: #309af6;*/
    color: red;
    font-weight: bold;
}
.message_receiver{
    color: red;
    font-weight: bold;
}

.unmute{
    color: red;
}

.stop{
    color: red;
}

.select{
    display: flex;
    align-self: flex-start;
    height: 30px;
    background-color: transparent;
    color: cyan;
    font-weight: bold;
    padding: 5px;
}
.select option{
    color: blueviolet;
}
#filter-box{
    color: blueviolet;
    border: 2px solid pink;
    border-radius: 10px;
    outline: none;
}